.container {
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    cursor: pointer;
}

.image-wrapper {
    width: 100%;
    position: relative;
}

.image {
    width: 100%;
}

.play {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(256, 256, 256, 0.7);
    width: 100%;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.2s;
}

.image:hover ~ .play {
    opacity: 1;
}

.title {
    font-size: 15px;
    font-weight: bold;
}

.popularity{
    font-size: 12px;
    color: gray;
}

.popularity span {
    font-weight: bold;
}